<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757387025724-urfmik4c04ef6dbmcacg1oh903u5s8dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757387025724-urfmik4c04ef6dbmcacg1oh903u5s8dp</string>
	<key>API_KEY</key>
	<string>AIzaSyD482-ES6genhupg6br63tHZKxDMeM54Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>757387025724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiroakiapp.savePhotoShot</string>
	<key>PROJECT_ID</key>
	<string>savephotolocation</string>
	<key>STORAGE_BUCKET</key>
	<string>savephotolocation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757387025724:ios:ca088ff9314e299d34d239</string>
</dict>
</plist>